* {
    font-family: Montserrat, arial;
}

body {

    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#SeccionProductos .card {
    border: none;
    max-width: 450px;
    margin: 0px 10px 0px 10px;
    height: 443px;
    border: 2px solid transparent;
}

#SeccionProductos h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

#SeccionProductos .card:hover {
    border-color: #1D1F2D;

}

#SeccionProductos .boton1 {
    width: 308px;
    height: 42px;
    text-align: center;
}

.Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

}

.boton1 {
    width: 190.93px;
    height: 50px;
    font-size: 13px;
    left: 0px;
    top: 0px;
    font-weight: 700;
    background: #1D1F2D;
    color: white;
}


.boton1:hover {
    background: #20274B;
}


.contenedor-general {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


.h1Cesta {
    font-size: 24px;
    font-weight: 700;
}

.NombreProducto {
    text-transform: uppercase;
    font-size: 16px;
    color: #222222;
    font-weight: 700;
}

.PrecioProducto {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
}

.CantidadProducto {
    font-size: 14px;
    color: #1D1F2D;
}

.contenedor-cesta-detalles {

    display: flex;
    justify-content: space-between;
}

.ProductosCesta {
    margin-top: 40px;
    flex-grow: 1;
}




.DetallesCompra {
    flex-direction: column;
    width: 429px;
    height: 540px;
    background-color: #f5f5f5;
    font-size: 16px;
    margin-left: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.DetallesCompra .boton1 {

    width: 100%;

}

.DetallesCompra input {
    height: 42px;
    width: 100%;

}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    /* Espacio entre la línea horizontal y los productos */
}

.DetallesCompra label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;

}

.DetallesCompra button {
    margin-bottom: 10px;

}



.TotalDetallescompra {
    text-transform: uppercase;
    font-weight: 700;
    color: #1D1F2D;
}

.eliminar-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.align-right {
    float: right;
}

